.patternContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
  color: rgba(255, 255, 255, 0.4);
  opacity: var(--pattern-opacity, 0.15);
}

.tribalPattern {
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-size: 400px 400px;
  background-position: center;
  opacity: 0.3;
  filter: invert(1);
}

.patternSvg {
  width: 100%;
  height: 100%;
  display: block;
}
